button {
    background-color: orange;
    color: white;
    border-color: white;
    border-radius: 20%;
    width: 70px;
    height: 30px;
}

.container {
    height: 800px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.basic,
.standard,
.premium {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    background-color: antiquewhite;
}

h4,
h2 {
    text-align: center;
}

.try {
    display: flex;
    justify-content: center;
}